{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
{# your_template.html.twig #}

{# <form method="post"> #}
	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_errors(form.title) }}
	{{ form_row(form.content) }}
	{{ form_errors(form.content) }}
	{# Ajoutez d'autres champs ici avec leurs erreurs #}
	{{ form_end(form) }}
{# </form> #}

{% endblock %}
